
body {
    
    background-color: #beb6b6;
   }
.img_title{
    font-size: 4.5rem;
    font-family: Oxanium;

}
.img_desc{
    font-size: 2rem;

}
.img-text{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    color: black;

}
.nav-l{
    align-self: right;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family:oxanium;
    justify-content: end;
    padding: 14px 25px;
}
.nav-l:hover{
    color: whitesmoke;
    background-color: black;
    background-size: 100%;
    
    
}
.nav{
    justify-self: start;
}
