<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Track it</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
  <link rel="stylesheet" href="">
  <script src="https://kit.fontawesome.com/31149d48b0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
    defer></script>
</head>

<body style="background-color: blanchedalmond; overflow-x: hidden; font-family: oxanium;">
  <section class="container-fluid" style="padding: 0;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/static/images/bg2.png" alt="company logo" width="70" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active h4" aria-current="page" href="#">Home</a>
            <a class="nav-link h4" href="#">Features</a>
            <a class="nav-link h4" href="#">Pricing</a>
            <a class="nav-link h4" href="#">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <h1 class="display-2 ms-2 my-5">Hello <span><strong>*Username*</strong></span></h1>
      <div class="card ms-5 mt-5" style="width: 28rem; @media screen and (max-width: 480px) {
        width:15rem;
      }">
        <div class="card-body">
          <h5 class="card-title">Current session</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tenetur doloribus
            expedita perferendis natus dolorem eum qui iste, et tempora cumque voluptates consectetur incidunt
            recusandae nostrum voluptate voluptatem id magni alias quod est. Facilis cum quo modi nam eligendi commodi
            expedita, voluptatum quae magni accusamus dignissimos temporibus, doloremque autem sint?
          </p>
        </div>
      </div>
      <p class="h4 ms-5 mt-5">Previous sessions</p>
      <div class="row row-cols-1 row-cols-md-3 g-4 px-3 px-md-5 mb-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
</body>

</html>